<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>About Project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<h1>📘 About Thesis</h1>

<div class="card">

<h2>Thesis Title</h2>

<p>
Deep Learning-Based Framework for Early Detection and Classification
of Ransomware Attacks Using Behavioral Analysis
</p>

<h2>Objectives</h2>

<ul>
<li>Early ransomware detection</li>
<li>Behavior analysis</li>
<li>Compare ML and DL models</li>
<li>Reduce false positives</li>
<li>Generate reports automatically</li>
</ul>

<h2>Algorithms Used</h2>

<ul>
<li>Random Forest</li>
<li>CNN</li>
<li>LSTM</li>
<li>CNN-LSTM</li>
</ul>

<h2>Dataset</h2>

<p>
Obfuscated-MalMem2022 Dataset
</p>

<h2>Technology Stack</h2>

<ul>
<li>Python</li>
<li>TensorFlow</li>
<li>Scikit-Learn</li>
<li>Flask</li>
<li>Pandas</li>
<li>NumPy</li>
<li>HTML CSS JavaScript</li>
</ul>

<h2>Developer</h2>

<p>
Mohd Sadique<br>
M.Tech Project 2026<br>
Centre For Advance Studies AKTU Lucknow
</p>

</div>

<br>

<a href="/">
<button>⬅ Back Dashboard</button>
</a>

</div>

</body>
</html>