<!DOCTYPE html>
<html>

<head>

<title>Ransomware Detection</title>

<style>

body{
background:#f2f2f2;
font-family:Arial;
}

.container{

width:600px;

margin:60px auto;

background:white;

padding:30px;

text-align:center;

border-radius:10px;

box-shadow:0 0 10px gray;

}

button{

padding:10px 20px;

background:green;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:darkgreen;

}

.result{

margin-top:20px;

font-size:20px;

color:blue;

}

</style>

</head>

<body>

<div class="container">

<h1>AI Powered Ransomware Detection System</h1>

<form action="/predict" method="POST" enctype="multipart/form-data">

<input type="file" name="file" required>

<br><br>

<button>

Predict

</button>

</form>

{% if prediction %}

<div class="result">

{{ prediction }}

</div>

{% endif %}

</div>

</body>

</html>